*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.input1{
margin-left: 500px;
margin-top: 100px;
}

.input1>input{
    height: 40px;
    width: 300px;
    border: 2px solid black;
}


button{
    height: 40px;
    width: 80px;
}

